In [1]:
import pandas as pd

#############Limpiamos 
df=pd.read_csv(r'/home/juan/Python/Acculturation/all_data(2).csv',low_memory=False,encoding='cp1252')
del df['Unnamed: 0']
coldel=df.columns[0:60]
df=df[coldel]
df.set_index(['egoID','alterID'],inplace=True)
for col in df.columns:
    df[col]=df[col].replace({',':''},regex=True)
    df[col]=df[col].replace({'\(':''},regex=True)
    df[col]=df[col].replace({'\]':''},regex=True)
    df[col]=df[col].replace({'\[]':''},regex=True)
    df[col]=df[col].replace({'\'':''},regex=True)
    df[col]=df[col].replace({'HENRY>':'USA_PU_en_e53_a27'},regex=True)
    df[col]=df[col].replace({'Frederick>':'USA_PU_es_e1_a38'},regex=True)
df.fillna('',inplace=True)
df=df.apply(lambda x: x.astype(str).str.lower())

In [2]:
trad = {
    'close': 'proximo/a',
    'not at all close':'no me siento nada proximo/a',
    'not very close':'no muy proximo/a',
    'somewhat close':'bastante proximo/a',
    'very close':'muy proximo/a',
    'pa pwoch di tou':'no me siento nada proximo/a',
    'pa two pwoch':'no muy proximo/a',
    'pwoch':'proximo/a',
    'tre pwoch':'muy proximo/a',
    'yon ti jan pwoch':'bastante proximo/a'
}
df['Clos'].replace(trad,inplace=True)
trad4={
        'very likely': 'muy probablemente',
        'maybe'  : 'podria ser',
        'not at all likely':'poco probable',
        'anpil chans': 'muy probablemente',
        'petet': 'podria ser',
        'patap gen chans ditou':'poco probable'
}
#dfint=df.columns[16:]
#for i in dfint:
#    print(i)
#    for j in range(0,len(df)):
#        if ('USA' in df[i][j]):
#            for k in list(trad4.keys()):
#                if (k in df[i][j]): 
#                    df[i][j].replace(k,trad4.get(k))
#                    print(i,trad4.get(k),df[i][j])
df.replace(trad4,inplace=True,regex=True)

In [3]:
for col in df.columns:
    df[col]=df[col].astype('category')
df['Clos'].cat.set_categories(['no me siento nada proximo/a','no muy proximo/a','proximo/a',
                              'bastante proximo/a','muy proximo/a'],ordered=True)

egoID         alterID
USA_CO_es_e1  USA_CO_es_e1_a1    bastante proximo/a
              USA_CO_es_e1_a2             proximo/a
              USA_CO_es_e1_a3             proximo/a
              USA_CO_es_e1_a4         muy proximo/a
              USA_CO_es_e1_a5    bastante proximo/a
                                        ...
SP_SE_es_e9   SP_SE_es_e9_a41             proximo/a
              SP_SE_es_e9_a42         muy proximo/a
              SP_SE_es_e9_a43    bastante proximo/a
              SP_SE_es_e9_a44             proximo/a
              SP_SE_es_e9_a45         muy proximo/a
Name: Clos, Length: 22500, dtype: category
Categories (5, object): [no me siento nada proximo/a < no muy proximo/a < proximo/a < bastante proximo/a < muy proximo/a]

In [4]:
df

                                  Acit                    Acon      Afrm  \
egoID        alterID
USA_CO_es_e1 USA_CO_es_e1_a1    bogota            por telefono  colombia
             USA_CO_es_e1_a2  new york              en persona  colombia
             USA_CO_es_e1_a3  new york              en persona  colombia
             USA_CO_es_e1_a4  new york              en persona  colombia
             USA_CO_es_e1_a5    bogota  por correo electronico  colombia
...                                ...                     ...       ...
SP_SE_es_e9  SP_SE_es_e9_a41     dakar                       [   senegal
             SP_SE_es_e9_a42    banjul                       [    gambia
             SP_SE_es_e9_a43    banjul                       [    gambia
             SP_SE_es_e9_a44     dakar                       [   senegal
             SP_SE_es_e9_a45    banjul                       [    gambia

                                               Afrq Ahlp            Aliv  \
egoID        alterID
USA_CO_es_e1 USA_CO_es_e1_a1       dos veces al mes   si        colombia
             USA_CO_es_e1_a2               cada dia   si  estados unidos
             USA_CO_es_e1_a3  dos veces a la semana   si  estados unidos
             USA_CO_es_e1_a4               cada dia   si  estados unidos
             USA_CO_es_e1_a5       dos veces al mes   si        colombia
...                                             ...  ...             ...
SP_SE_es_e9  SP_SE_es_e9_a41         una vez al ano    [         senegal
             SP_SE_es_e9_a42         una vez al mes    [          gambia
             SP_SE_es_e9_a43         una vez al mes    [          gambia
             SP_SE_es_e9_a44  dos veces a la semana    [         senegal
             SP_SE_es_e9_a45  dos veces a la semana    [          gambia

                                 Aol2 Apro                  Arac  \
egoID        alterID
USA_CO_es_e1 USA_CO_es_e1_a1  21 a 30   si               negro/a
             USA_CO_es_e1_a2  21 a 30   si  moreno/a o mestizo/a
             USA_CO_es_e1_a3  21 a 30   si              blanco/a
             USA_CO_es_e1_a4  21 a 30   si  moreno/a o mestizo/a
             USA_CO_es_e1_a5  21 a 30   si  moreno/a o mestizo/a
...                               ...  ...                   ...
SP_SE_es_e9  SP_SE_es_e9_a41  31 a 40   no               negro/a
             SP_SE_es_e9_a42  31 a 40   no               negro/a
             SP_SE_es_e9_a43  21 a 30   si               negro/a
             SP_SE_es_e9_a44  51 a 60   no               negro/a
             SP_SE_es_e9_a45  41 a 50   si               negro/a

                                                   Arel  ...  \
egoID        alterID                                     ...
USA_CO_es_e1 USA_CO_es_e1_a1          desde la juventud  ...
             USA_CO_es_e1_a2                    escuela  ...
             USA_CO_es_e1_a3                    escuela  ...
             USA_CO_es_e1_a4          esposa/o o pareja  ...
             USA_CO_es_e1_a5          desde la juventud  ...
...                                                 ...  ...
SP_SE_es_e9  SP_SE_es_e9_a41                   vecino/a  ...
             SP_SE_es_e9_a42                   vecino/a  ...
             SP_SE_es_e9_a43                   vecino/a  ...
             SP_SE_es_e9_a44                   vecino/a  ...
             SP_SE_es_e9_a45  familiar por descendencia  ...

                                                      Unnamed: 51  \
egoID        alterID
USA_CO_es_e1 USA_CO_es_e1_a1
             USA_CO_es_e1_a2   usa_co_es_e1_a42 muy probablemente
             USA_CO_es_e1_a3   usa_co_es_e1_a38 muy probablemente
             USA_CO_es_e1_a4   usa_co_es_e1_a39 muy probablemente
             USA_CO_es_e1_a5          usa_co_es_e1_a40 podria ser
...                                                           ...
SP_SE_es_e9  SP_SE_es_e9_a41
             SP_SE_es_e9_a42
             SP_SE_es_e9_a43
             SP_SE_es_e9_a44
             SP_SE_es_e9_a45

                                                      Unnamed: 52  \
egoID        alterID
USA_CO_es_e1 USA_CO_es_e1_a1
             USA_CO_es_e1_a2   usa_co_es_e1_a43 muy probablemente
             USA_CO_es_e1_a3   usa_co_es_e1_a39 muy probablemente
             USA_CO_es_e1_a4   usa_co_es_e1_a40 muy probablemente
             USA_CO_es_e1_a5   usa_co_es_e1_a41 muy probablemente
...                                                           ...
SP_SE_es_e9  SP_SE_es_e9_a41
             SP_SE_es_e9_a42
             SP_SE_es_e9_a43
             SP_SE_es_e9_a44
             SP_SE_es_e9_a45

                                                      Unnamed: 53  \
egoID        alterID
USA_CO_es_e1 USA_CO_es_e1_a1
             USA_CO_es_e1_a2   usa_co_es_e1_a44 muy probablemente
             USA_CO_es_e1_a3   usa_co_es_e1_a40 muy probablemente
             USA_CO_es_e1_a4   usa_co_es_e1_a41 muy probablemente
             USA_CO_es_e1_a5          usa_co_es_e1_a42 podria ser
...                                                           ...
SP_SE_es_e9  SP_SE_es_e9_a41
             SP_SE_es_e9_a42
             SP_SE_es_e9_a43
             SP_SE_es_e9_a44
             SP_SE_es_e9_a45

                                                      Unnamed: 54  \
egoID        alterID
USA_CO_es_e1 USA_CO_es_e1_a1
             USA_CO_es_e1_a2   usa_co_es_e1_a45 muy probablemente
             USA_CO_es_e1_a3   usa_co_es_e1_a41 muy probablemente
             USA_CO_es_e1_a4   usa_co_es_e1_a42 muy probablemente
             USA_CO_es_e1_a5          usa_co_es_e1_a43 podria ser
...                                                           ...
SP_SE_es_e9  SP_SE_es_e9_a41
             SP_SE_es_e9_a42
             SP_SE_es_e9_a43
             SP_SE_es_e9_a44
             SP_SE_es_e9_a45

                                                      Unnamed: 55  \
egoID        alterID
USA_CO_es_e1 USA_CO_es_e1_a1
             USA_CO_es_e1_a2
             USA_CO_es_e1_a3   usa_co_es_e1_a42 muy probablemente
             USA_CO_es_e1_a4   usa_co_es_e1_a43 muy probablemente
             USA_CO_es_e1_a5   usa_co_es_e1_a44 muy probablemente
...                                                           ...
SP_SE_es_e9  SP_SE_es_e9_a41
             SP_SE_es_e9_a42
             SP_SE_es_e9_a43
             SP_SE_es_e9_a44
             SP_SE_es_e9_a45

                                                      Unnamed: 56  \
egoID        alterID
USA_CO_es_e1 USA_CO_es_e1_a1
             USA_CO_es_e1_a2
             USA_CO_es_e1_a3   usa_co_es_e1_a43 muy probablemente
             USA_CO_es_e1_a4   usa_co_es_e1_a44 muy probablemente
             USA_CO_es_e1_a5   usa_co_es_e1_a45 muy probablemente
...                                                           ...
SP_SE_es_e9  SP_SE_es_e9_a41
             SP_SE_es_e9_a42
             SP_SE_es_e9_a43
             SP_SE_es_e9_a44
             SP_SE_es_e9_a45

                                                      Unnamed: 57  \
egoID        alterID
USA_CO_es_e1 USA_CO_es_e1_a1
             USA_CO_es_e1_a2
             USA_CO_es_e1_a3   usa_co_es_e1_a44 muy probablemente
             USA_CO_es_e1_a4   usa_co_es_e1_a45 muy probablemente
             USA_CO_es_e1_a5
...                                                           ...
SP_SE_es_e9  SP_SE_es_e9_a41
             SP_SE_es_e9_a42
             SP_SE_es_e9_a43
             SP_SE_es_e9_a44
             SP_SE_es_e9_a45

                                                      Unnamed: 58 Unnamed: 59  \
egoID        alterID
USA_CO_es_e1 USA_CO_es_e1_a1
             USA_CO_es_e1_a2
             USA_CO_es_e1_a3   usa_co_es_e1_a45 muy probablemente
             USA_CO_es_e1_a4
             USA_CO_es_e1_a5
...                                                           ...         ...
SP_SE_es_e9  SP_SE_es_e9_a41
             SP_SE_es_e9_a42
             SP_SE_es_e9_a43
             SP_SE_es_e9_a44
             SP_SE_es_e9_a45

                             Unnamed: 60
egoID        alterID
USA_CO_es_e1 USA_CO_es_e1_a1
             USA_CO_es_e1_a2
             USA_CO_es_e1_a3
             USA_CO_es_e1_a4
             USA_CO_es_e1_a5
...                                  ...
SP_SE_es_e9  SP_SE_es_e9_a41
             SP_SE_es_e9_a42
             SP_SE_es_e9_a43
             SP_SE_es_e9_a44
             SP_SE_es_e9_a45

[22500 rows x 58 columns]

In [5]:
####Imos construir as matrices de adxacencia para cada alter, é dicir, vectores de adxacencia 
len(df.columns)

58

In [6]:
df.reset_index(inplace=True)

In [7]:
colint=df.columns[16:len(df.columns)]
colint
for j in colint:
    df[j]=df[j].str.replace('muy probablemente','Muyprobablemente')
    df[j]=df[j].str.replace('podria ser','Podriaser')
    df[j]=df[j].str.replace('poco probable','Pocoprobable')
    df[j]=df[j].str.replace('_',' ')
    df[j]=df[j].str.split(' ')
#for i in colint:
#    for j in range(len(df)):
#        if (df[i][j][0]==''): df[i][j].remove(df[i][j][0])

In [8]:
dfaux=pd.read_csv(r'/home/juan/Python/Acculturation/all_updated.csv',low_memory=False,encoding='cp1252')
dfaux.rename(columns={'EGOID':'egoID'},inplace=True)
dfaux2=pd.merge(df, dfaux, on='egoID')
df=dfaux2
del df['EGOFIRST']
del df['EGOLAST']
df

,egoID,alterID,Acit,Acon,Afrm,Afrq,Ahlp,Aliv,Aol2,Apro,...,Unnamed: 397,Unnamed: 398,Unnamed: 399,Unnamed: 400,Unnamed: 401,Unnamed: 402,Unnamed: 403,Unnamed: 404,Unnamed: 405,Unnamed: 406
0,USA_CO_es_e1,USA_CO_es_e1_a1,bogota,por telefono,colombia,dos veces al mes,si,colombia,21 a 30,si,...,0.0,1.0,1.0,0.0,0.022220,4.400000,2.769231,-1.630769,1.0,NaN
1,USA_CO_es_e1,USA_CO_es_e1_a2,new york,en persona,colombia,cada dia,si,estados unidos,21 a 30,si,...,0.0,1.0,1.0,0.0,0.022220,4.400000,2.769231,-1.630769,1.0,NaN
2,USA_CO_es_e1,USA_CO_es_e1_a3,new york,en persona,colombia,dos veces a la semana,si,estados unidos,21 a 30,si,...,0.0,1.0,1.0,0.0,0.022220,4.400000,2.769231,-1.630769,1.0,NaN
3,USA_CO_es_e1,USA_CO_es_e1_a4,new york,en persona,colombia,cada dia,si,estados unidos,21 a 30,si,...,0.0,1.0,1.0,0.0,0.022220,4.400000,2.769231,-1.630769,1.0,NaN
4,USA_CO_es_e1,USA_CO_es_e1_a5,bogota,por correo electronico,colombia,dos veces al mes,si,colombia,21 a 30,si,...,0.0,1.0,1.0,0.0,0.022220,4.400000,2.769231,-1.630769,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21325,SP_SE_es_e9,SP_SE_es_e9_a41,dakar,[,senegal,una vez al ano,[,senegal,31 a 40,no,...,0.0,0.0,1.0,0.0,3.866667,2.846154,-1.020513,2.000000,NaN,NaN
21326,SP_SE_es_e9,SP_SE_es_e9_a42,banjul,[,gambia,una vez al mes,[,gambia,31 a 40,no,...,0.0,0.0,1.0,0.0,3.866667,2.846154,-1.020513,2.000000,NaN,NaN
21327,SP_SE_es_e9,SP_SE_es_e9_a43,banjul,[,gambia,una vez al mes,[,gambia,21 a 30,si,...,0.0,0.0,1.0,0.0,3.866667,2.846154,-1.020513,2.000000,NaN,NaN
21328,SP_SE_es_e9,SP_SE_es_e9_a44,dakar,[,senegal,dos veces a la semana,[,senegal,51 a 60,no,...,0.0,0.0,1.0,0.0,3.866667,2.846154,-1.020513,2.000000,NaN,NaN
21329,SP_SE_es_e9,SP_SE_es_e9_a45,banjul,[,gambia,dos veces a la semana,[,gambia,41 a 50,si,...,0.0,0.0,1.0,0.0,3.866667,2.846154,-1.020513,2.000000,NaN,NaN

In [9]:
#Facemos un dataframe independente para as redes
i=0
listatremenda=[]
i=0
while (i<len(df)-1):
    j=0
    while (j<len(colint)-1):
        if (len(df[colint[j]][i])>1):
            listatremenda.append(df[colint[j]][i])
            if (len(listatremenda[-1])==7): del listatremenda[-1][0]
            #correccións
            listatremenda[-1][3]=int(listatremenda[-1][3].replace('e',''))
            if ('en' in listatremenda[-1]): 
                if ('do' in listatremenda[-1]):
                    listatremenda[-1][3]=str(listatremenda[-1][3]+49)
                if ('pu' in listatremenda[-1]):
                    listatremenda[-1][3]=str(listatremenda[-1][3]+23)
                if ('ha' in listatremenda[-1]):
                    listatremenda[-1][3]=str(listatremenda[-1][3]+3)
            #print(colint[j],i,df[colint[j]][i])
            listatremenda[-1][2]=df['alterID'][i][-3:]
            listatremenda[-1][2]=listatremenda[-1][2].replace('_','')
        j=j+1    
    i=i+1
print(listatremenda[0])
for i in range(len(listatremenda)):
    if (listatremenda[i][1]=='re'):
        listatremenda[i][3]=str(listatremenda[i][3]+98)
        listatremenda[i][1]= 'do'
#Columnas
Curr=[0]*len(listatremenda)
Orig=[0]*len(listatremenda)
Alter=[0]*len(listatremenda)
Subject=[[0]*3 for i in range(len(listatremenda))]
Alter2=[0]*len(listatremenda)
Value=[0]*len(listatremenda)
for i in range(len(listatremenda)):
        Alter[i]=listatremenda[i][2]
        Subject[i][0]=listatremenda[i][1]
        Subject[i][1]=listatremenda[i][0]
        Subject[i][2]=listatremenda[i][3]
        Alter2[i]=listatremenda[i][4]
        Value[i]=listatremenda[i][5]

#Dict para o ego
dict1={'USA_CO':'estados unidos,colombia',
         'USA_CU':'estados unidos,cuba',
         'USA_DO':'estados unidos,republica dominicana',
         'USA_HA':'estados unidos,haiti',
         'USA_ME':'estados unidos,mexico',
         'USA_PU':'estados unidos,puerto rico',
         'SP_AR':'espana,argentina',
         'SP_GU':'espana,guinea ecuatorial',
         'SP_MA':'espana,marruecos',
         'SP_RE':'espana,republica dominicana',
         'SP_SE':'espana,senegambia'}
#Dicts para os alters
dict2={'colombia':'CO',
       'republica dominicana':'DO',
       'puerto rico':'PU',
       'senegal':'SE',
       'estados unidos':'USA',
       'ecuador':'EC',
        'otro':'OT',
       'mexico':'ME',
       'espana':'SP',
       'cuba':'CU',
       'gambia':'SE',
       'haiti':'HA',
       'other':'OT',
       'united states':'USA',
       'spain':'SP',
       'do not know':'DK',
       'dominican republic':'DO',
       'marruecos':'MA',
       'twice a week':'DK',
       'refused':'RF',
       'morocco':'MA',
       'puerto rico':'PU',
       'puerto rico ':'PU',
       'argentina':'AR',
       'un pais de america':'AM',
       'un pais de europa':'EU',
       'otro pais':'OT',
       'una vez al ano':'DK',
       'dos veces al ano':'DK',
       'no':'DK',
       'si':'DK'}

dict3={ 'colombia':'CO',
        'estados unidos':'USA',
        'republica dominicana':'DO',
        'senegal':'SE',
        'marruecos':'MA',
        'espana':'SP',
        'na':'DK',
        'otro':'OT',
        'united states':'USA',
        'other':'OT',
        'cuba':'CU',
        'spain':'SP',
        'puerto rico':'PU',
        'ecuador':'EC',
        'mexico':'ME',
        '21 to 30':'DK',
        'dominican republic':'DO',
        'puerto rico':'PU',
        'morocco':'MA',
        'gambia':'GA',
        'haiti':'HA',
        'un pais de america':'AM',
        'argentina':'AR',
        'un pais de europa':'EU',
        'mujer':'DK',
        'otro pais':'OT',
        '21 a 30':'DK',
        'guinea ecuatorial':'GU',
        '31 a 40':'DK'
}
df['Afrm'].replace(dict2,inplace=True)
df['Aliv'].replace(dict3,inplace=True)

['usa', 'co', 'a1', 1, 'a2', 'Muyprobablemente']

In [10]:
colint

Index(['Rating', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
       'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37',
       'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41',
       'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
       'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49',
       'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53',
       'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57',
       'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60'],
      dtype='object')

In [11]:

#Definir o dataframe
contactos=pd.DataFrame({'Alter':Alter,'Subject':Subject,'Alter2':Alter2,'Value':Value})
#Conservar só os números        
contactos['Alter'] = contactos['Alter'].str.extract('(\d+)', expand=False)
contactos['Alter2'] = contactos['Alter2'].str.extract('(\d+)', expand=False)
#Tradución do value
trad5={'Muyprobablemente':1,
       'Podriaser':0.66,
       'Pocoprobable':0.33,
}
contactos.replace(trad5,inplace=True,regex=True)
contactos.dropna(inplace=True)
#for i in range(len(contactos)):
#    contactos['Subject'][i][-1]=int(contactos['Subject'][i][-1])
#    contactos['Alter'][i]=int(contactos['Alter'][i])
#    contactos['Alter2'][i]=int(contactos['Alter2'][i])

In [12]:
contactos

       Alter       Subject Alter2  Value
0          1  [co, usa, 1]      2    1.0
1          1  [co, usa, 1]      3    1.0
2          1  [co, usa, 1]      5    1.0
3          1  [co, usa, 1]      7    1.0
4          1  [co, usa, 1]      8    1.0
...      ...           ...    ...    ...
252408    42   [se, sp, 9]     44    1.0
252409    42   [se, sp, 9]     45    1.0
252410    43   [se, sp, 9]     44    1.0
252411    43   [se, sp, 9]     45    1.0
252412    44   [se, sp, 9]     45    1.0

[252413 rows x 4 columns]

In [13]:
#Cambiar a cousa do int do segundo elemento do suxeito no dataframe contactos :(
contactosfix=[[[0]*3] for i in range(len(contactos))]

for i in range(len(contactos)):
        contactosfix[i]=contactos['Subject'][i]
        contactosfix[i][-1]=int(contactos['Subject'][i][-1])
contactos['Subject']=contactosfix
contactos['Alter']=contactos['Alter'].astype(int)
contactos['Alter2']=contactos['Alter2'].astype(int)

In [14]:
contactos

        Alter       Subject  Alter2  Value
0           1  [co, usa, 1]       2    1.0
1           1  [co, usa, 1]       3    1.0
2           1  [co, usa, 1]       5    1.0
3           1  [co, usa, 1]       7    1.0
4           1  [co, usa, 1]       8    1.0
...       ...           ...     ...    ...
252408     42   [se, sp, 9]      44    1.0
252409     42   [se, sp, 9]      45    1.0
252410     43   [se, sp, 9]      44    1.0
252411     43   [se, sp, 9]      45    1.0
252412     44   [se, sp, 9]      45    1.0

[252413 rows x 4 columns]

In [15]:
#Crear novas columnas de info sobre o ego, separadas do egoID, para crear o criterio de nacional
sujexp=[0]*len(df)
egodict={'USA_CO':'USA,CO',
         'USA_CU':'USA,CU',
         'USA_DO':'USA,DO',
         'USA_HA':'USA,HA',
         'USA_ME':'USA,ME',
         'USA_PU':'USA,PU',
         'SP_AR':'SP,AR',
         'SP_GU':'SP,GU',
         'SP_MA':'SP,MA',
         'SP_RE':'SP,DO',
         'SP_SE':'SP,SE'
}
for i in range(len(df)):
    for j in egodict.keys():
        if  (j in df['egoID'][i]):
            sujexp[i]=egodict.get(j)
df['egoINF']=sujexp
df[['egoResidence','egoOrigin']]=df['egoINF'].str.split(',',expand=True)
del df['egoINF']

In [16]:
import re
df['egoID'][18000]

'SP_RE_es_e60'

In [17]:
#Crear as etiquetas para o ego ID e o alter ID da forma [Origin,Residence,number]
import re
import ast
egoID=[[0]*3 for i in range(len(df))]
alterID=[[0]*3 for i in range(len(df))]
for i in range(len(df)):
    egoID[i][0]=df['egoOrigin'][i]
    egoID[i][1]=df['egoResidence'][i]
    egoID[i][2]=int(re.findall('\d+', df['egoID'][i])[0])
    if ('en' in df['egoID'][i]): 
        if (('DO') in df['egoID'][i]):
            egoID[i][2]=egoID[i][2]+49
        if (('PU') in df['egoID'][i]):
            egoID[i][2]=egoID[i][2]+23
        if (('HA') in df['egoID'][i]):
            egoID[i][2]=egoID[i][2]+3

    if ('RE' in df['egoID'][i]):
        egoID[i][2]=egoID[i][2]+98
    alterID[i][0]=df['Afrm'][i]
    alterID[i][1]=df['Aliv'][i]
    alterID[i][2]=int(re.findall('\d+', df['alterID'][i])[-1])
#egoID= [k.lower() for k in egoID[i]]
#alterID = [k.lower() for k in alterID[i]]
df['Ego(or/res/num)']=egoID
df['Alter(or/res/num)']=alterID
del df['egoResidence']
del df['egoOrigin']
del df['egoID']
del df['alterID']
del df['Afrm']
del df['Aliv']
df=df.apply(lambda x: x.astype(str).str.lower())
df['Ego(or/res/num)']=[ast.literal_eval(x) for x in df['Ego(or/res/num)']]
df['Alter(or/res/num)']=[ast.literal_eval(x) for x in df['Alter(or/res/num)']]

In [18]:
df['Ego(or/res/num)'][18000]

['do', 'sp', 158]

In [19]:
#Translate the contact part so we can add the alter relationships as a single column. The result is a vector 
#of the form [[alterID,value]...]
lista=[[] for i in range(len(df))]
j=0
for i in range(len(df)):
    alt=df['Alter(or/res/num)'][i][2]
    if (j==len(contactos)-1): break
    while((alt==contactos['Alter'][j]) and (contactos['Subject'][j]==df['Ego(or/res/num)'][i])):
            lista[i].append([contactos['Alter2'][j],contactos['Value'][j]])
            j=j+1

In [20]:
df['Relationships']=lista
del df['Rating']
for i in df.columns:
    if ('Unnamed' in i): del df[i]

######

In [21]:
trad2={'no me siento nada proximo/a':5,
       'no muy proximo/a': 4,
       'proximo/a':3,
       'bastante proximo/a':2,
       'muy proximo/a':1,
       '4':0,
       'once a month':0,
       'dos veces al anyo':0,
       '13':0,
       '30':0,
       'na':0
}
df['Clos'].replace(trad2,inplace=True)

In [22]:
#Novo arranxo para evitar empregar listas no dataframe :))))))
egoOr=[0]*len(df)
egoRes=[0]*len(df)
egoNum=[0]*len(df)
altOr=[0]*len(df)
altRes=[0]*len(df)
altNum=[0]*len(df)
for i in range(len(df)):
    egoOr[i]=df['Ego(or/res/num)'][i][0]
    egoRes[i]=df['Ego(or/res/num)'][i][1]
    egoNum[i]=df['Ego(or/res/num)'][i][2]
    altOr[i]=df['Alter(or/res/num)'][i][0]
    altRes[i]=df['Alter(or/res/num)'][i][1]
    altNum[i]=df['Alter(or/res/num)'][i][2]
df['ego/origin']=egoOr
df['ego/residence']=egoRes
df['ego/num']=egoNum
df['alter/origin']=altOr
df['alter/residence']=altRes
df['alter/num']=altNum
del df['Ego(or/res/num)']
del df['Alter(or/res/num)']

SubjectOr=[0]*len(contactos)
SubjectRes=[0]*len(contactos)
SubjectNum=[0]*len(contactos)
for i in range(len(contactos)):
    SubjectOr[i]=contactos['Subject'][i][0]
    SubjectRes[i]=contactos['Subject'][i][1]
    SubjectNum[i]=contactos['Subject'][i][2]
contactos['sub/origin']=SubjectOr
contactos['sub/residence']=SubjectRes
contactos['sub/num']=SubjectNum

del contactos['Subject']

In [23]:
###Categorizar cada columna

In [24]:

#Gardar o resultado 
contactos.to_csv('Contactos.csv')
df.to_csv('all_data_clean.csv')

In [25]:
Acondict={'in person':'en persona',
          'by phone':'por telefono',
          'by email':'por correo electronico',
          'by mail':'por carta',
          'other':'otra',
          'no':'DK',
          '[':'DK',
          'puerto rico':'DK',
          'argentina':'DK',
          'marruecos':'DK'
}
Afrqdict={'colombia':'DK',
          'estados unidos':'DK',
          'twice a year':'dos veces al anyo',
          'twice a week':'dos veces a la semana',
          'every day':'cada dia',
          'twice a month':'dos veces al mes',
          'once a week':'una vez a la semana',
          'once a month':'una vez al mes',
          'once a year':'una vez al anyo',
          'dos veces al ano':'dos veces al anyo',
          'una vez al ano':'una vez al anyo',
          'do not know':'DK',
          'republica dominicana':'DK',
          'puerto rico':'DK',
          '[':'DK',
          'united states':'DK',
          '1 fwa per semen':'una vez a la semana',
          '2 fwa per mwa':'dos veces al mes',
          '1 fwa pa mwa':'una vez al mes',
          '2 fwa pa an':'dos veces al anyo',
          '1 fwa pa an':'una vez al anyo',
          '2 fwa pa semen':'dos veces a la semana',
          'chak jou':'cada dia',
          'puerto rico':'DK',
          'na':'DK'    
}
Ahlpdict={'[':'DK',
          'yes':'si',
          'do not know':'DK',
            'na':'DK',
            'no fumado':'DK',
            'united states':'DK',
            'never smoked':'DK',
            'argentina':'DK',
            'marruecos':'DK'
}
Aol2dict={'21 to 30':'21 a 30',
          '31 to 40':'31 a 40',
          '41 to 50':'41 a 50',
          '11 to 20':'11 a 20',
          '51 to 60':'51 a 60',
          '61 to 70':'61 a 70',
          '71 to 80':'71 a 80',
          '81 to 90':'81 a 90',
          '91 to 100':'91 a 100',
          'puerto rico':'DK',
          'do not know':'DK',
          'puerto rico':'DK',
          'united states':'DK',
          'na':'DK',
          'other':'DK',
          'estados unidos':'DK',
          'dominican republic':'DK',
          'colombia':'DK',
          'republica dominicana':'DK',
          'ecuador':'DK',
          'no':'DK',
          'every day':'DK'
}
Aprodict={'yes':'si',
          'non':'no',
          'wi':'si',
          'man':'DK',                       
          'na':'DK',                          
          'do not know':'DK',                  
          'woman':'DK',                        
          'white':'DK',                        
          'moreno/a o mestizo/a':'DK',         
          'blanco/a':'DK',                     
          '10':'DK'                           
}
Aracdict={'white':'blanco/a',              
            'brown/mestizo':'moreno/a o mestizo/a',                
            'black':'negro/a',                        
            'other':'otro/a',                                            
            'nwa':'negro/a',                           
            'puerto rico':'DK',                   
            'senegal':'DK',                       
            'na':'DK',                            
            'otro':'otro/a',                          
            'united states':'DK',                 
            'familiar por descendencia':'DK',     
            'school':'DK',                        
            'espana':'DK',                        
            'ecuador':'DK',                       
            'blan':'blanco/a'                          
    
}
Areldict={
    'familiar por descendencia':'sangre',                                                                                                         
'familiar por matrimonio':'matrimonio',                                            
'blood relative':'sangre',                                                     
'alguien con el que se encuentra a causa de una tercera persona':'tercera persona',                                                                 
'alguien con quien trabaja del mismo nivel':'compañero de trabajo',                          
'desde la juventud':'juventud',                                                  
'school':'escuela',                                                             
'someone you met through someone else':'alguien con el que se encuentra a causa de una tercera persona',                               
'alguien que conocio a traves de alguna asociacion o club':'asociacion',           
'someone you work with':'compañero de trabajo',                                              
'alguien para el que trabaja':'superior laboral',                                        
'relative through marriage':'matrimonio',                                          
'neighbor':'vecino/a',                                                           
'other':'otra',                                                              
'esposa_o o pareja':'pareja',                                                  
'someone you met through an organization':'asociacion',                            
'from childhood':'juventud',                                                     
'alguien con el que se encuentra en la iglesia o centro de culto':'centro de culto',    
'someone you work for':'superior laboral',                                                
'spouse or significant other':'pareja',                                         
'alguien con quien trabaja al mismo nivel':'compañero de trabajo',                            
'alguien con que se encuentra a causa de una tercera persona':'tercera persona',         
'alguien que trabaja para usted':'subordinado laboral',                                      
'spouse of significant other':'pareja',                                         
'someone you met at religious service':'centro de culto',                                
'famni pa san':'sangre',                                                        
'someone that works for you':'alguien que trabaja para usted',                                          
'esposa/o o pareja':'pareja',                                                   
'yon moun ke yon lot moun te prezante-w':'tercera persona',                              
'lekol':'escuela',                                                               
'famni pa maryaj':'matrimonio',                                                     
'yon moun ke ou te fe konesans nan yon oganizasyon':'asociacion',                   
'alguien con el que se encuentra en la iglesia o cento de culto':'centro de culto',      
'na':'DK',                                                                  
'yon moun ke ou te fe konesans nan legliz la':'centro de culto',                         
'lot':'DK',                                                                 
'madam/mari':'pareja',                                                          
'someone you met at a religious service':'centro de culto',                                
'hombre':'DK',                                                                
'depi ou pitit ou konnen moun nan':'juventud',                                      
'man':'DK',                                                                   
'do not know':'DK',                                                           
'vwazen':'vecino/a',                                                                
'51 a 60':'DK',                                                               
'41 a 50':'DK',                                                               
'11 to 20':'DK',                                                              
'11 a 20':'DK'                                                               
}
Asexdict={'man':'hombre',              
'woman':'mujer',            
'fanm':'mujer',               
'gason':'hombre',              
'dk':'DK',                 
'barcelona':'DK',           
'st louis':'DK',            
'do not know':'DK',         
'new york':'DK',            
'na':'DK',                  
'milano':'DK',              
'salamanca':'DK',           
'no':'DK',                               
'dakar':'DK',               
'marsella':'DK',            
'paris':'DK',               
'bilbao':'DK',              
'port a prince':'DK',       
'girona':'DK',              
'jersey city':'DK',         
'lerida':'DK',              
'madrid':'DK',              
'nueva york':'DK',          
'lloret':'DK'
}
Asmodict={                                                         
'no fumador':'no',                      
'no fumado':'no',                       
'yes':'si',                             
'never smoked':'no',                     
'fumo cada dia':'diario',                    
'former smoker':'exfumador',                    
'fumaba pero lo deje':'exfumador',              
'smoke everyday':'diario',                   
'smoke occasionally':'ocasional',               
'fumo ocasionalmente':'ocasional',              
'non':'no',                              
'no me siento nada proximo/a':'DK',        
'muy proximo/a':'DK',                      
'bastante proximo/a':'DK',                 
'no muy proximo/a':'DK',                   
'wi':'si',                                 
'na':'DK',                                 
'proximo/a':'DK',                          
'somewhat close':'DK'                     
}
df['Acon'].replace(Acondict,inplace=True)
df['Afrq'].replace(Afrqdict,inplace=True)
df['Ahlp'].replace(Ahlpdict,inplace=True)
df['Aol2'].replace(Aol2dict,inplace=True)
df['Apro'].replace(Aprodict,inplace=True)
df['Arac'].replace(Aracdict,inplace=True)
df['Arel'].replace(Areldict,inplace=True)
df['Asex'].replace(Asexdict,inplace=True)
df['Asmo'].replace(Asmodict,inplace=True)

In [26]:

#Gardar o resultado 
contactos.to_csv('Contactos.csv')
df.to_csv('all_data_clean.csv')

In [27]:
contactos

        Alter  Alter2  Value sub/origin sub/residence  sub/num
0           1       2    1.0         co           usa        1
1           1       3    1.0         co           usa        1
2           1       5    1.0         co           usa        1
3           1       7    1.0         co           usa        1
4           1       8    1.0         co           usa        1
...       ...     ...    ...        ...           ...      ...
252408     42      44    1.0         se            sp        9
252409     42      45    1.0         se            sp        9
252410     43      44    1.0         se            sp        9
252411     43      45    1.0         se            sp        9
252412     44      45    1.0         se            sp        9

[252413 rows x 6 columns]

In [28]:
colint

Index(['Rating', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
       'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37',
       'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41',
       'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
       'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49',
       'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53',
       'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57',
       'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60'],
      dtype='object')

In [29]:
contactos

        Alter  Alter2  Value sub/origin sub/residence  sub/num
0           1       2    1.0         co           usa        1
1           1       3    1.0         co           usa        1
2           1       5    1.0         co           usa        1
3           1       7    1.0         co           usa        1
4           1       8    1.0         co           usa        1
...       ...     ...    ...        ...           ...      ...
252408     42      44    1.0         se            sp        9
252409     42      45    1.0         se            sp        9
252410     43      44    1.0         se            sp        9
252411     43      45    1.0         se            sp        9
252412     44      45    1.0         se            sp        9

[252413 rows x 6 columns]